<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Configuración de la base de datos -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/papeleria</property>
        <property name="hibernate.connection.username">super</property>
        <property name="hibernate.connection.password">alumno</property>

        <!-- Configuración de Hibernate -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <!-- Crea/actualiza tablas automáticamente -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- Muestra las consultas SQL en la consola -->
        <property name="hibernate.show_sql">true</property>

        <!-- Mapeo de entidades -->
        <mapping class="entities.Cliente"/>
        <mapping class="entities.Producto"/>
        <mapping class="entities.Venta"/>
        <mapping class="entities.VentaCliente"/>
        <mapping class="entities.VentaClienteId"/>
    </session-factory>
</hibernate-configuration>